extends base

mixin buildingTypeText(buildingType)
  case buildingType
    when 'apartment'
      | نوع: آپارتمان
    when 'edari'
      | نوع: اداری
    when 'tejari'
      | نوع: تجاری
    when 'villa'
      | نوع: ویلا
    when 'zeraei'
      | نوع: زراعی
    default
      | نوع: غیره

block content
  link(rel='stylesheet' href='/style/rentbuy.css')
  section
    .top-filter-rent
      .modal-bodys
        form#searchForm
          .top-filter-div
            label(for='city') شهر:
            select#city(name='city')
              option(value='Shiraz') شیراز
            label(for='building-type') نوع ملک:
            select#building-type(name='building-type')
              option(value='apartment') آپارتمان مسکونی
              option(value='edari') دفتر کار اداری
              option(value='tejari') مغازه و تجاری
              option(value='villa') خانه و ویلا
              option(value='zeraei') زراعی
              option(value='other') غیره
            label(for='min-rahn') مقدار رهن:
            .rahn-inputs
              select#min-rahn-select
                option(value='0') حداقل
                option(value='1') 1 میلیون
                option(value='5') 5 میلیون
                option(value='10') 10 میلیون
                option(value='15') 15 میلیون
                option(value='20') 20 میلیون
                option(value='20') 25 میلیون
                option(value='30') 30 میلیون
                option(value='40') 40 میلیون
                option(value='50') 50 میلیون
                option(value='60') 60 میلیون
                option(value='70') 70 میلیون
                option(value='80') 80 میلیون
                option(value='90') 90 میلیون
                option(value='100') 100 میلیون
                option(value='150') 150 میلیون
                option(value='200') 200 میلیون
                option(value='250') 250 میلیون
                option(value='300') 300 میلیون
                option(value='400') 400 میلیون
                option(value='500') 500 میلیون
              span.range-separator -
              select#max-rahn-select
                option(value='0') حداکثر
                option(value='1') 1 میلیون
                option(value='5') 5 میلیون
                option(value='10') 10 میلیون
                option(value='15') 15 میلیون
                option(value='20') 20 میلیون
                option(value='20') 25 میلیون
                option(value='30') 30 میلیون
                option(value='40') 40 میلیون
                option(value='50') 50 میلیون
                option(value='60') 60 میلیون
                option(value='70') 70 میلیون
                option(value='80') 80 میلیون
                option(value='90') 90 میلیون
                option(value='100') 100 میلیون
                option(value='150') 150 میلیون
                option(value='200') 200 میلیون
                option(value='250') 250 میلیون
                option(value='300') 300 میلیون
                option(value='400') 400 میلیون
                option(value='500') 500 میلیون
            .full-rahn-div
              label(for='disable-rent') رهن کامل
              input#disable-rent(type='checkbox')
            label(for='min-rent') مقدار اجاره:
            .rent-inputs
              select#min-rent-select
                option(value='0') حداقل
                option(value='1') 1 میلیون
                option(value='5') 5 میلیون
                option(value='10') 10 میلیون
                option(value='15') 15 میلیون
                option(value='20') 20 میلیون
                option(value='20') 25 میلیون
                option(value='30') 30 میلیون
                option(value='40') 40 میلیون
                option(value='50') 50 میلیون
                option(value='60') 60 میلیون
                option(value='70') 70 میلیون
                option(value='80') 80 میلیون
                option(value='90') 90 میلیون
                option(value='100') 100 میلیون
                option(value='150') 150 میلیون
                option(value='200') 200 میلیون
                option(value='250') 250 میلیون
                option(value='300') 300 میلیون
                option(value='400') 400 میلیون
                option(value='500') 500 میلیون
                // Add more options as needed
              span.range-separator -
              select#max-rent-select
                option(value='0') حداکثر
                option(value='1') 1 میلیون
                option(value='5') 5 میلیون
                option(value='10') 10 میلیون
                option(value='15') 15 میلیون
                option(value='20') 20 میلیون
                option(value='20') 25 میلیون
                option(value='30') 30 میلیون
                option(value='40') 40 میلیون
                option(value='50') 50 میلیون
                option(value='60') 60 میلیون
                option(value='70') 70 میلیون
                option(value='80') 80 میلیون
                option(value='90') 90 میلیون
                option(value='100') 100 میلیون
                option(value='150') 150 میلیون
                option(value='200') 200 میلیون
                option(value='250') 250 میلیون
                option(value='300') 300 میلیون
                option(value='400') 400 میلیون
                option(value='500') 500 میلیون
            label(for='min-size') متراژ:
            .size-inputs
              select#min-size-select
                option(value='0') حداقل
                option(value='50') 50 مترمربع
                option(value='60') 60 مترمربع
                option(value='70') 70 مترمربع
                option(value='80') 80 مترمربع
                option(value='90') 90 مترمربع
                option(value='100') 100 مترمربع
                option(value='150') 150 مترمربع
                option(value='200') 200 مترمربع
                option(value='250') 250 مترمربع
                option(value='300') 300 مترمربع
                option(value='400') 400 مترمربع
                option(value='500') 500 مترمربع
                option(value='500') 600 مترمربع
                option(value='500') 700 مترمربع
                option(value='500') 800 مترمربع
                option(value='500') 900 مترمربع
                option(value='500') 1000 مترمربع
              span.range-separator -
              select#max-size-select
                option(value='0') حداکثر
                option(value='50') 50 مترمربع
                option(value='60') 60 مترمربع
                option(value='70') 70 مترمربع
                option(value='80') 80 مترمربع
                option(value='90') 90 مترمربع
                option(value='100') 100 مترمربع
                option(value='150') 150 مترمربع
                option(value='200') 200 مترمربع
                option(value='250') 250 مترمربع
                option(value='300') 300 مترمربع
                option(value='400') 400 مترمربع
                option(value='500') 500 مترمربع
                option(value='500') 600 مترمربع
                option(value='500') 700 مترمربع
                option(value='500') 800 مترمربع
                option(value='500') 900 مترمربع
                option(value='500') 1000 مترمربع
            .sort-btns
              button.btn.btn-success.btn-sm.fs-5.submit-modal-search(type='submit')
                | جستجو
              a.btn.btn-light.btn-sm.fs-5.reset-modal(href='/for_rent')
                | پاک کردن
      .filter.filterhouse
              button.filter-button(type='button' data-bs-toggle='modal' data-bs-target='#exampleModal')
                | فیلتر
      #exampleModal.modal.fade(tabindex='-1' aria-labelledby='exampleModalLabel' aria-hidden='true')
        .modal-dialog
        .modal-content
          .modal-header
            h1#exampleModalLabel.modal-title.fs-4
              | جستجوی پیشرفته
            button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
          .modal-body.modal-search-filter
            form#searchFormMobile
              .filter-option-section(style='margin-top: 2rem')
                label(for='city') شهر:
                select#city-mobile(name='city')
                  option(value='Shiraz') شیراز
                label(for='building-type') نوع ملک:
                select#building-type-mobile(name='building-type')
                  option(value='apartment') آپارتمان مسکونی
                  option(value='edari') دفتر کار اداری
                  option(value='tejari') مغازه و تجاری
                  option(value='villa') خانه و ویلا
                  option(value='zeraei') زراعی
                  option(value='other') غیره
                br
                .row
                  // bid & rent
                  .col.rahn-range-container(style='margin-top: 2rem')
                    label(for='min-rahn') مقدار رهن:
                    .rahn-inputs
                      select#min-rahn-select-mobile
                        option(value='0') حداقل
                        option(value='1') 1 میلیون
                        option(value='5') 5 میلیون
                        option(value='10') 10 میلیون
                        option(value='15') 15 میلیون
                        option(value='20') 20 میلیون
                        option(value='20') 25 میلیون
                        option(value='30') 30 میلیون
                        option(value='40') 40 میلیون
                        option(value='50') 50 میلیون
                        option(value='60') 60 میلیون
                        option(value='70') 70 میلیون
                        option(value='80') 80 میلیون
                        option(value='90') 90 میلیون
                        option(value='100') 100 میلیون
                        option(value='150') 150 میلیون
                        option(value='200') 200 میلیون
                        option(value='250') 250 میلیون
                        option(value='300') 300 میلیون
                        option(value='400') 400 میلیون
                        option(value='500') 500 میلیون
                      span.range-separator -
                      select#max-rahn-select-mobile
                        option(value='0') حداکثر
                        option(value='1') 1 میلیون
                        option(value='5') 5 میلیون
                        option(value='10') 10 میلیون
                        option(value='15') 15 میلیون
                        option(value='20') 20 میلیون
                        option(value='20') 25 میلیون
                        option(value='30') 30 میلیون
                        option(value='40') 40 میلیون
                        option(value='50') 50 میلیون
                        option(value='60') 60 میلیون
                        option(value='70') 70 میلیون
                        option(value='80') 80 میلیون
                        option(value='90') 90 میلیون
                        option(value='100') 100 میلیون
                        option(value='150') 150 میلیون
                        option(value='200') 200 میلیون
                        option(value='250') 250 میلیون
                        option(value='300') 300 میلیون
                        option(value='400') 400 میلیون
                        option(value='500') 500 میلیون
                      br
                      //
                        <label for="disable-rent">رهن کامل</label>
                        <input type="checkbox" id="disable-rent" />
                  .col.rent-range-container(style='margin-top: 2rem')
                    label(for='min-rent') مقدار اجاره:
                    .rent-inputs
                      select#min-rent-select-mobile
                        option(value='0') حداقل
                        option(value='1') 1 میلیون
                        option(value='5') 5 میلیون
                        option(value='10') 10 میلیون
                        option(value='15') 15 میلیون
                        option(value='20') 20 میلیون
                        option(value='20') 25 میلیون
                        option(value='30') 30 میلیون
                        option(value='40') 40 میلیون
                        option(value='50') 50 میلیون
                        option(value='60') 60 میلیون
                        option(value='70') 70 میلیون
                        option(value='80') 80 میلیون
                        option(value='90') 90 میلیون
                        option(value='100') 100 میلیون
                        option(value='150') 150 میلیون
                        option(value='200') 200 میلیون
                        option(value='250') 250 میلیون
                        option(value='300') 300 میلیون
                        option(value='400') 400 میلیون
                        option(value='500') 500 میلیون
                        // Add more options as needed
                      span.range-separator -
                      select#max-rent-select-mobile
                        option(value='0') حداکثر
                        option(value='1') 1 میلیون
                        option(value='5') 5 میلیون
                        option(value='10') 10 میلیون
                        option(value='15') 15 میلیون
                        option(value='20') 20 میلیون
                        option(value='20') 25 میلیون
                        option(value='30') 30 میلیون
                        option(value='40') 40 میلیون
                        option(value='50') 50 میلیون
                        option(value='60') 60 میلیون
                        option(value='70') 70 میلیون
                        option(value='80') 80 میلیون
                        option(value='90') 90 میلیون
                        option(value='100') 100 میلیون
                        option(value='150') 150 میلیون
                        option(value='200') 200 میلیون
                        option(value='250') 250 میلیون
                        option(value='300') 300 میلیون
                        option(value='400') 400 میلیون
                        option(value='500') 500 میلیون
                  // bid & rent
                .row
                  .col.full-rahn-container
                    label(for='disable-rent') رهن کامل
                    input#disable-rent-mobile(type='checkbox')
                  .col.size-range-container(style='margin-top: 2rem')
                    label(for='min-size') متراژ:
                    .size-inputs
                      select#min-size-select-mobile
                        option(value='0') حداقل
                        option(value='50') 50 مترمربع
                        option(value='60') 60 مترمربع
                        option(value='70') 70 مترمربع
                        option(value='80') 80 مترمربع
                        option(value='90') 90 مترمربع
                        option(value='100') 100 مترمربع
                        option(value='150') 150 مترمربع
                        option(value='200') 200 مترمربع
                        option(value='250') 250 مترمربع
                        option(value='300') 300 مترمربع
                        option(value='400') 400 مترمربع
                        option(value='500') 500 مترمربع
                        option(value='500') 600 مترمربع
                        option(value='500') 700 مترمربع
                        option(value='500') 800 مترمربع
                        option(value='500') 900 مترمربع
                        option(value='500') 1000 مترمربع
                      span.range-separator -
                      select#max-size-select-mobile
                        option(value='0') حداکثر
                        option(value='50') 50 مترمربع
                        option(value='60') 60 مترمربع
                        option(value='70') 70 مترمربع
                        option(value='80') 80 مترمربع
                        option(value='90') 90 مترمربع
                        option(value='100') 100 مترمربع
                        option(value='150') 150 مترمربع
                        option(value='200') 200 مترمربع
                        option(value='250') 250 مترمربع
                        option(value='300') 300 مترمربع
                        option(value='400') 400 مترمربع
                        option(value='500') 500 مترمربع
                        option(value='500') 600 مترمربع
                        option(value='500') 700 مترمربع
                        option(value='500') 800 مترمربع
                        option(value='500') 900 مترمربع
                        option(value='500') 1000 مترمربع
                .row.footer-modal-btn(style='margin-top: 1rem')
                  a.col.btn.btn-info.fs-5.reset-modal(href='/for_rent')
                    | پاک کردن فیلتر
                  button.col.btn.btn-success.fs-5.submit-modal-search(type='submit')
                    | تایید و جستجو
  main.container-fluid
    - if (!rents || rents.length === 0)
      .housefound.container-fluid
        img(src='/img/notavailable.svg', alt='notavailable')
        br
        h1 آگهی های مورد نظر هنوز ثبت نشده است.
    .container-fluid.row.row-cols-1.row-cols-md-2.card-rent-main
      each rent in rents 
        .col
          .card
            .card-horizontal
              .img-square-wrapper
                img(src=`/img/rents/${rent.images[0]}` alt=`${rent.buildingType}`)
              .card-body.card-rent-body
                ul.card-rent-ul
                  li.mb-1.fs-4
                    svg.rent-card-svg(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512')
                      path(d='M321.94 98L158.82 237.78a24 24 0 000 36.44L321.94 414c15.57 13.34 39.62 2.28 39.62-18.22v-279.6c0-20.5-24.05-31.56-39.62-18.18z')
                    span
                     +buildingTypeText(rent.buildingType)
                  li.fs-5
                    svg.rent-card-svg(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512')
                      path(d='M256 48c-79.5 0-144 61.39-144 137 0 87 96 224.87 131.25 272.49a15.77 15.77 0 0025.5 0C304 409.89 400 272.07 400 185c0-75.61-64.5-137-144-137z' fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='32')
                      circle(cx='256' cy='192' r='48' fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='32')
                    span.card-text-span آدرس: #{rent.address}
                  li.fs-5
                    svg.rent-card-svg(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512')
                      path(fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='32' d='M344 280l88-88M232 216l64 64M80 320l104-104')
                      circle(cx='456' cy='168' r='24' fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='32')
                      circle(cx='320' cy='304' r='24' fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='32')
                      circle(cx='208' cy='192' r='24' fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='32')
                      circle(cx='56' cy='344' r='24' fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='32')
                    span.card-text-span #{rent.size} مترمربع
                  li.fs-5
                    svg.rent-card-svg(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512')
                      path(d='M384 240H96V136a40.12 40.12 0 0140-40h240a40.12 40.12 0 0140 40v104zM48 416V304a64.19 64.19 0 0164-64h288a64.19 64.19 0 0164 64v112' fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='32')
                      path(d='M48 416v-8a24.07 24.07 0 0124-24h368a24.07 24.07 0 0124 24v8M112 240v-16a32.09 32.09 0 0132-32h80a32.09 32.09 0 0132 32v16M256 240v-16a32.09 32.09 0 0132-32h80a32.09 32.09 0 0132 32v16' fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='32')
                    span.card-text-span #{rent.room} خواب
                  li.fs-5
                    svg.rent-card-svg(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512')
                      rect(x='48' y='96' width='416' height='320' rx='56' ry='56' fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='32')
                      path(fill='none' stroke='currentColor' stroke-linejoin='round' stroke-width='60' d='M48 192h416M128 300h48v20h-48z')
                    span.card-text-span اجاره:
                      - if (rent.rentPrice >= 1000)
                        | #{(rent.rentPrice / 1000).toFixed(3).replace(/\.0+$/,'')} میلیارد
                      - else
                        | #{rent.rentPrice} میلیون
                  li.fs-5
                    svg.rent-card-svg(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512')
                      rect(x='32' y='80' width='448' height='256' rx='16' ry='16' transform='rotate(180 256 208)' fill='none' stroke='currentColor' stroke-linejoin='round' stroke-width='32')
                      path(fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='32' d='M64 384h384M96 432h320')
                      circle(cx='256' cy='208' r='80' fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='32')
                      path(d='M480 160a80 80 0 01-80-80M32 160a80 80 0 0080-80M480 256a80 80 0 00-80 80M32 256a80 80 0 0180 80' fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='32')
                    span.card-text-span رهن:
                      - if (rent.mortgagePrice >= 1000)
                        | #{(rent.mortgagePrice / 1000).toFixed(3).replace(/\.0+$/,'')} میلیارد
                      - else
                        | #{rent.mortgagePrice} میلیون
                a.btn.btn-success.view-card-link(href=`/for_rent/${rent.id}`) دیدن جزییات
            .card-footer
              small.text-muted
                | #{persianDate}
    .second-houseinfo
  script(src='/js/rentbuy.js')
  script(src='/js/searchRent.js')
