extends base

mixin buildingTypeText(buildingType)
  case buildingType
    when 'apartment'
      | نوع: آپارتمان
    when 'edari'
      | نوع: اداری
    when 'tejari'
      | نوع: تجاری
    when 'villa'
      | نوع: ویلا
    when 'zeraei'
      | نوع: زراعی
    default
      | نوع: غیره


block content 

  main.home-page
    .homepage-backimg
      .search-form
        .search-select-btn
          button#rentButton.select-button.button1
            | رهن و اجاره
          button#buyButton.select-button.button2
            | خرید ملک
        .search-header
          ul.search-header-ul
            li.search-header-li
              p.search-header-text
                | ابتدا از قسمت بالا گزینه مورد نظر خود را از بین "خرید ملک یا
                | رهن و اجاره" انتخاب کنید.
            li.search-header-li
              p.search-header-text
                | برای جستجوی دقیق تر روی دکمه "فیلتر" کلیک کنید و سپس مقادیر
                | دلخواه خود را وارد کنید.
            li
              p.search-header-text
                | همچنین برای دیدن تمامی آگهی ها روی دکمه جستجوی سبزرنگ کلیک
                | کنید.
        .search-menu
          .filter
            button.filter-button(type='button' data-bs-toggle='modal' data-bs-target='#exampleModal')
              | فیلتر
          .search-info
            ul.search-info-ul
              li.search-info-li
                p.search-info-text شهر: شیراز
                p.search-info-text نوع ملک:
                p.search-info-text متراژ:
                p.search-info-text.rent-info اجاره:
                p.search-info-text.rent-info رهن:
                p.search-info-text.price-info قیمت:
          .search-button-div
            button.search-button
              svg.search-svg(xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='1.5' stroke='currentColor')
                path(stroke-linecap='round' stroke-linejoin='round' d='M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z')
    #exampleModal.modal.fade(tabindex='-1' aria-labelledby='exampleModalLabel' aria-hidden='true')
      .modal-dialog
        .modal-content
          .modal-header
            h1#exampleModalLabel.modal-title.fs-4
              | جستجوی پیشرفته
            button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
          .modal-body.modal-search-filter
            form#searchFormMobile
              .search-select-btn
                button#modalRentButton.select-button.button1
                  | رهن و اجاره
                button#modalBuyButton.select-button.button2
                  | خرید ملک
              .filter-option-section(style='margin-top: 2rem')
                label(for='city') شهر:
                select#city-mobile(name='city')
                  option(value='Shiraz') شیراز
                label(for='building-type') نوع ملک:
                select#building-type-mobile(name='building-type')
                  option(value='apartment') آپارتمان مسکونی
                  option(value='edari') دفتر کار اداری
                  option(value='tejari') مغازه و تجاری
                  option(value='villa') خانه و ویلا
                  option(value='zeraei') زراعی
                  option(value='other') غیره
                br
                .row
                  .col.rahn-range-container(style='margin-top: 2rem')
                    label(for='min-rahn') مقدار رهن:
                    .rahn-inputs
                      select#min-rahn-select-mobile
                        option(value='0') حداقل
                        option(value='1') 1 میلیون
                        option(value='5') 5 میلیون
                        option(value='10') 10 میلیون
                        option(value='15') 15 میلیون
                        option(value='20') 20 میلیون
                        option(value='20') 25 میلیون
                        option(value='30') 30 میلیون
                        option(value='40') 40 میلیون
                        option(value='50') 50 میلیون
                        option(value='60') 60 میلیون
                        option(value='70') 70 میلیون
                        option(value='80') 80 میلیون
                        option(value='90') 90 میلیون
                        option(value='100') 100 میلیون
                        option(value='150') 150 میلیون
                        option(value='200') 200 میلیون
                        option(value='250') 250 میلیون
                        option(value='300') 300 میلیون
                        option(value='400') 400 میلیون
                        option(value='500') 500 میلیون
                      span.range-separator -
                      select#max-rahn-select-mobile
                        option(value='0') حداکثر
                        option(value='1') 1 میلیون
                        option(value='5') 5 میلیون
                        option(value='10') 10 میلیون
                        option(value='15') 15 میلیون
                        option(value='20') 20 میلیون
                        option(value='20') 25 میلیون
                        option(value='30') 30 میلیون
                        option(value='40') 40 میلیون
                        option(value='50') 50 میلیون
                        option(value='60') 60 میلیون
                        option(value='70') 70 میلیون
                        option(value='80') 80 میلیون
                        option(value='90') 90 میلیون
                        option(value='100') 100 میلیون
                        option(value='150') 150 میلیون
                        option(value='200') 200 میلیون
                        option(value='250') 250 میلیون
                        option(value='300') 300 میلیون
                        option(value='400') 400 میلیون
                        option(value='500') 500 میلیون
                      br
                  .col.rent-range-container(style='margin-top: 2rem')
                    label(for='min-rent') مقدار اجاره:
                    .rent-inputs
                      select#min-rent-select-mobile
                        option(value='0') حداقل
                        option(value='1') 1 میلیون
                        option(value='5') 5 میلیون
                        option(value='10') 10 میلیون
                        option(value='15') 15 میلیون
                        option(value='20') 20 میلیون
                        option(value='20') 25 میلیون
                        option(value='30') 30 میلیون
                        option(value='40') 40 میلیون
                        option(value='50') 50 میلیون
                        option(value='60') 60 میلیون
                        option(value='70') 70 میلیون
                        option(value='80') 80 میلیون
                        option(value='90') 90 میلیون
                        option(value='100') 100 میلیون
                        option(value='150') 150 میلیون
                        option(value='200') 200 میلیون
                        option(value='250') 250 میلیون
                        option(value='300') 300 میلیون
                        option(value='400') 400 میلیون
                        option(value='500') 500 میلیون
                        // Add more options as needed
                      span.range-separator -
                      select#max-rent-select-mobile
                        option(value='0') حداکثر
                        option(value='1') 1 میلیون
                        option(value='5') 5 میلیون
                        option(value='10') 10 میلیون
                        option(value='15') 15 میلیون
                        option(value='20') 20 میلیون
                        option(value='20') 25 میلیون
                        option(value='30') 30 میلیون
                        option(value='40') 40 میلیون
                        option(value='50') 50 میلیون
                        option(value='60') 60 میلیون
                        option(value='70') 70 میلیون
                        option(value='80') 80 میلیون
                        option(value='90') 90 میلیون
                        option(value='100') 100 میلیون
                        option(value='150') 150 میلیون
                        option(value='200') 200 میلیون
                        option(value='250') 250 میلیون
                        option(value='300') 300 میلیون
                        option(value='400') 400 میلیون
                        option(value='500') 500 میلیون
                  .col.buy-range-container.modal-visibility(style='margin-top: 2rem')
                    label(for='min-buy') مقدار خرید:
                    .buy-inputs
                      select#min-buy-select-mobile
                        option(value='0') حداقل
                        option(value='50') 50 میلیون
                        option(value='100') 100 میلیون
                        option(value='150') 150 میلیون
                        option(value='200') 200 میلیون
                        option(value='250') 250 میلیون
                        option(value='300') 300 میلیون
                        option(value='350') 350 میلیون
                        option(value='400') 400 میلیون
                        option(value='500') 500 میلیون
                        option(value='600') 600 میلیون
                        option(value='700') 700 میلیون
                        option(value='800') 800 میلیون
                        option(value='900') 900 میلیون
                        option(value='1000') 1 میلیارد
                        option(value='1250') 1/250 میلیارد
                        option(value='1500') 1/500 میلیارد
                        option(value='1750') 1/750 میلیارد
                        option(value='2000') 2 میلیارد
                        option(value='3000') 3 میلیارد
                        option(value='4000') 4 میلیارد
                        option(value='5000') 5 میلیارد
                        option(value='6000') 6 میلیارد
                        option(value='7000') 7 میلیارد
                        option(value='8000') 8 میلیارد
                        option(value='9000') 9 میلیارد
                        option(value='10000') 10 میلیارد
                        // Add more options as needed
                      span.range-separator -
                      select#max-buy-select-mobile
                        option(value='0') حداکثر
                        option(value='50') 50 میلیون
                        option(value='100') 100 میلیون
                        option(value='150') 150 میلیون
                        option(value='200') 200 میلیون
                        option(value='250') 250 میلیون
                        option(value='300') 300 میلیون
                        option(value='350') 350 میلیون
                        option(value='400') 400 میلیون
                        option(value='500') 500 میلیون
                        option(value='600') 600 میلیون
                        option(value='700') 700 میلیون
                        option(value='800') 800 میلیون
                        option(value='900') 900 میلیون
                        option(value='1000') 1 میلیارد
                        option(value='1250') 1/250 میلیارد
                        option(value='1500') 1/500 میلیارد
                        option(value='1750') 1/750 میلیارد
                        option(value='2000') 2 میلیارد
                        option(value='3000') 3 میلیارد
                        option(value='4000') 4 میلیارد
                        option(value='5000') 5 میلیارد
                        option(value='6000') 6 میلیارد
                        option(value='7000') 7 میلیارد
                        option(value='8000') 8 میلیارد
                        option(value='9000') 9 میلیارد
                        option(value='10000') 10 میلیارد
                  // 
                .row
                  .col.full-rahn-container
                    label(for='disable-rent') رهن کامل
                    input#disable-rent(type='checkbox')
                  .col.size-range-container(style='margin-top: 2rem')
                    label(for='min-size') متراژ:
                    .size-inputs
                      select#min-size-select-mobile
                        option(value='0') حداقل
                        option(value='50') 50 مترمربع
                        option(value='60') 60 مترمربع
                        option(value='70') 70 مترمربع
                        option(value='80') 80 مترمربع
                        option(value='90') 90 مترمربع
                        option(value='100') 100 مترمربع
                        option(value='150') 150 مترمربع
                        option(value='200') 200 مترمربع
                        option(value='250') 250 مترمربع
                        option(value='300') 300 مترمربع
                        option(value='400') 400 مترمربع
                        option(value='500') 500 مترمربع
                        option(value='500') 600 مترمربع
                        option(value='500') 700 مترمربع
                        option(value='500') 800 مترمربع
                        option(value='500') 900 مترمربع
                        option(value='500') 1000 مترمربع
                      span.range-separator -
                      select#max-size-select-mobile
                        option(value='0') حداکثر
                        option(value='50') 50 مترمربع
                        option(value='60') 60 مترمربع
                        option(value='70') 70 مترمربع
                        option(value='80') 80 مترمربع
                        option(value='90') 90 مترمربع
                        option(value='100') 100 مترمربع
                        option(value='150') 150 مترمربع
                        option(value='200') 200 مترمربع
                        option(value='250') 250 مترمربع
                        option(value='300') 300 مترمربع
                        option(value='400') 400 مترمربع
                        option(value='500') 500 مترمربع
                        option(value='500') 600 مترمربع
                        option(value='500') 700 مترمربع
                        option(value='500') 800 مترمربع
                        option(value='500') 900 مترمربع
                        option(value='500') 1000 مترمربع
                .row.footer-modal-btn(style='margin-top: 1rem')
                  a.col.btn.fs-5.reset-modal(href='/')
                    | پاک کردن فیلتر
                  button.col.btn.btn-success.fs-5.submit-modal-search(type='submit')
                    | تایید و جستجو
  section.container.rent
    .last-rent-header
      - if (!rents || rents.length > 0)
        h3.rent-text جدیدترین آگهی ها برای اجاره و رهن:
    .row.row-cols-1.row-cols-sm-2.row-cols-md-3.row-cols-lg-4.g-4
      each rent in rents
        .col-6.col-sm-6.col-md-4.col-lg-3.mb-4
          .card.shadow.rounded.flex-fill
            img.card-img-top.img-fluid.last-imgs(src=`/img/rents/${rent.images[0]}` alt='...')
            .card-body
              .last-card
                .last-card-info
                  p.size
                    svg.last-rent-svg(xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='1.5' stroke='currentColor')
                      path(stroke-linecap='round' stroke-linejoin='round' d='M9 6.75V15m6-6v8.25m.503 3.498l4.875-2.437c.381-.19.622-.58.622-1.006V4.82c0-.836-.88-1.38-1.628-1.006l-3.869 1.934c-.317.159-.69.159-1.006 0L9.503 3.252a1.125 1.125 0 00-1.006 0L3.622 5.689C3.24 5.88 3 6.27 3 6.695V19.18c0 .836.88 1.38 1.628 1.006l3.869-1.934c.317-.159.69-.159 1.006 0l4.994 2.497c.317.158.69.158 1.006 0z')
                    +buildingTypeText(rent.buildingType)
                  p.rent-price
                    svg.last-rent-svg(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512')
                      rect(x='48' y='96' width='416' height='320' rx='56' ry='56' fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='32')
                      path(fill='none' stroke='currentColor' stroke-linejoin='round' stroke-width='60' d='M48 192h416M128 300h48v20h-48z')
                    - if (rent.mortgagePrice >= 1000)
                      | رهن: #{(rent.mortgagePrice / 1000).toFixed(3).replace(/\.0+$/,'')} میلیارد
                    - else
                      | رهن: #{rent.mortgagePrice} میلیون
                .last-card-info
                    p
                      svg.last-rent-svg(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512')
                        path(fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='32' d='M344 280l88-88M232 216l64 64M80 320l104-104')
                        circle(cx='456' cy='168' r='24' fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='32')
                        circle(cx='320' cy='304' r='24' fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='32')
                        circle(cx='208' cy='192' r='24' fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='32')
                        circle(cx='56' cy='344' r='24' fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='32')
                      span.house-type مساحت: #{rent.size}متر
                    p
                      svg.last-rent-svg(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512')
                        rect(x='32' y='80' width='448' height='256' rx='16' ry='16' transform='rotate(180 256 208)' fill='none' stroke='currentColor' stroke-linejoin='round' stroke-width='32')
                        path(fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='32' d='M64 384h384M96 432h320')
                        circle(cx='256' cy='208' r='80' fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='32')
                        path(d='M480 160a80 80 0 01-80-80M32 160a80 80 0 0080-80M480 256a80 80 0 00-80 80M32 256a80 80 0 0180 80' fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='32')
                      span.rahn-price اجاره: #{rent.rentPrice} میلیون
              a.btn.mt-3.btn-lg.view-card-link(href=`/for_rent/${rent.id}`) جزئیات بیشتر
  
  section.container.about
    .about-div
      .about-text-div
        h4.about-text-header
          | املاک کَپَر، کلیدی به دنیای خانه‌های رویایی شما!
        p.about-text-header-moreinfo
          | ما در شهر شیراز به خریداران و فروشندگان امکان می‌دهیم تا ملک‌های
          | مختلف را با جزئیات کامل مشاهده کنند. از طریق وبسایت ما، شما
          | می‌توانید به طور دقیق و دسته‌بندی‌شده، انواع ملک‌ها را در شهر شیراز
          | بیابید و با جزئیاتی نظیر ویژگی‌ها، اندازه‌ها و مشخصات دیگر آشنا
          | شوید. هدف ما از ارائه‌ی این امکانات، تسهیل در فرآیند انتخاب ملک بهتر
          | برای شماست تا تجربه‌ای خوشایند و کارآمد را در دنیای املاک ارائه
          | دهیم.
      svg(width='291' height='135' viewBox='0 0 291 135' fill='none' xmlns='http://www.w3.org/2000/svg')
        g(clip-path='url(#clip0_78_32)')
          path(d='M226.578 20.2823H155.452V18.8557H123.201V20.2823H51.7815C50.5054 20.2823 49.2816 20.7757 48.3793 21.6539C47.4769 22.5321 46.97 23.7231 46.97 24.9651V119.75C46.97 120.992 47.4769 122.183 48.3793 123.061C49.2816 123.94 50.5054 124.433 51.7815 124.433H226.578C227.854 124.433 229.078 123.94 229.98 123.061C230.883 122.183 231.39 120.992 231.39 119.75V24.9645C231.39 23.7227 230.883 22.5318 229.98 21.6537C229.078 20.7756 227.854 20.2823 226.578 20.2823Z' fill='#3F3D56')
          path(d='M224.939 28.5572H53.4207V122.721H224.939V28.5572Z' fill='#E6E6E6')
          path(d='M224.619 25.7962H53.0597V116.083H224.619V25.7962Z' fill='white')
          path(d='M139.033 25.9894C140.005 25.9894 140.792 25.2229 140.792 24.2773C140.792 23.3317 140.005 22.5652 139.033 22.5652C138.062 22.5652 137.274 23.3317 137.274 24.2773C137.274 25.2229 138.062 25.9894 139.033 25.9894Z' fill='#00B0FF')
          path(d='M236.205 121.008H219.466V119.835C219.466 119.773 219.441 119.714 219.396 119.67C219.351 119.626 219.29 119.602 219.227 119.602H213.488C213.424 119.602 213.363 119.626 213.319 119.67C213.274 119.714 213.249 119.773 213.249 119.835V121.008H209.662V119.835C209.662 119.773 209.637 119.714 209.592 119.67C209.547 119.626 209.486 119.602 209.423 119.602H203.683C203.62 119.602 203.559 119.626 203.514 119.67C203.469 119.714 203.444 119.773 203.444 119.835V121.008H199.857V119.835C199.857 119.773 199.832 119.714 199.787 119.67C199.742 119.626 199.682 119.602 199.618 119.602H193.879C193.816 119.602 193.755 119.626 193.71 119.67C193.665 119.714 193.64 119.773 193.64 119.835V121.008H190.053V119.835C190.053 119.773 190.028 119.714 189.983 119.67C189.938 119.626 189.877 119.602 189.814 119.602H184.075C184.012 119.602 183.951 119.626 183.906 119.67C183.861 119.714 183.836 119.773 183.836 119.835V121.008H180.249V119.835C180.249 119.773 180.224 119.714 180.179 119.67C180.134 119.626 180.073 119.602 180.01 119.602H174.271C174.207 119.602 174.146 119.626 174.101 119.67C174.057 119.714 174.031 119.773 174.031 119.835V121.008H170.444V119.835C170.444 119.773 170.419 119.714 170.374 119.67C170.329 119.626 170.269 119.602 170.205 119.602H164.467C164.404 119.602 164.343 119.626 164.298 119.67C164.253 119.714 164.228 119.773 164.228 119.835V121.008H160.64V119.835C160.64 119.773 160.615 119.714 160.57 119.67C160.525 119.626 160.464 119.602 160.401 119.602H115.445C115.381 119.602 115.32 119.626 115.275 119.67C115.231 119.714 115.205 119.773 115.205 119.835V121.008H111.619V119.835C111.619 119.773 111.593 119.714 111.549 119.67C111.504 119.626 111.443 119.602 111.379 119.602H105.64C105.577 119.602 105.516 119.626 105.471 119.67C105.426 119.714 105.401 119.773 105.401 119.835V121.008H101.814V119.835C101.814 119.773 101.789 119.714 101.744 119.67C101.699 119.626 101.638 119.602 101.575 119.602H95.8362C95.7727 119.602 95.7119 119.626 95.667 119.67C95.6221 119.714 95.5969 119.773 95.5969 119.835V121.008H92.0099V119.835C92.0099 119.773 91.9847 119.714 91.9398 119.67C91.895 119.626 91.8341 119.602 91.7707 119.602H86.0318C85.9684 119.602 85.9075 119.626 85.8627 119.67C85.8178 119.714 85.7926 119.773 85.7926 119.835V121.008H82.2064V119.835C82.2064 119.773 82.1812 119.714 82.1363 119.67C82.0914 119.626 82.0306 119.602 81.9672 119.602H76.2275C76.164 119.602 76.1032 119.626 76.0583 119.67C76.0135 119.714 75.9883 119.773 75.9883 119.835V121.008H72.4015V119.835C72.4015 119.773 72.3763 119.714 72.3314 119.67C72.2865 119.626 72.2257 119.602 72.1623 119.602H66.4231C66.3597 119.602 66.2988 119.626 66.254 119.67C66.2091 119.714 66.1839 119.773 66.1839 119.835V121.008H62.5971V119.835C62.5971 119.773 62.5719 119.714 62.5271 119.67C62.4822 119.626 62.4213 119.602 62.3579 119.602H56.6177C56.5542 119.602 56.4934 119.626 56.4485 119.67C56.4037 119.714 56.3785 119.773 56.3785 119.835V121.008H45.3797C43.8576 121.008 42.3978 121.597 41.3215 122.644C40.2452 123.692 39.6406 125.113 39.6406 126.594V129.119C39.6406 130.601 40.2452 132.021 41.3215 133.069C42.3978 134.116 43.8576 134.705 45.3797 134.705H236.205C237.727 134.705 239.187 134.116 240.263 133.069C241.339 132.022 241.944 130.601 241.944 129.12V126.594C241.944 125.113 241.34 123.692 240.263 122.645C239.187 121.597 237.727 121.009 236.205 121.009V121.008Z' fill='#3F3D56')
          path(d='M290.06 134.468H0V135H290.06V134.468Z' fill='#E6E6E6')
          path(d='M261.889 115.879C265.82 119.984 266.023 126.016 266.023 126.016C266.023 126.016 259.854 125.394 255.924 121.29C251.994 117.186 251.79 111.153 251.79 111.153C251.79 111.153 257.959 111.775 261.889 115.879Z' fill='#79CAA1')
          path(d='M274.262 122.286C270.045 126.111 263.846 126.308 263.846 126.308C263.846 126.308 264.485 120.305 268.702 116.48C272.92 112.655 279.118 112.457 279.118 112.457C279.118 112.457 278.479 118.461 274.262 122.286Z' fill='#79CAA1')
          path(d='M273.214 134.468H257.702C257.405 134.468 257.113 134.386 256.861 134.233C256.608 134.079 256.406 133.859 256.275 133.599L252.898 126.843C252.78 126.607 252.726 126.347 252.74 126.085C252.754 125.824 252.837 125.57 252.979 125.348C253.122 125.126 253.321 124.943 253.556 124.816C253.791 124.689 254.056 124.623 254.325 124.623H276.591C276.86 124.623 277.125 124.689 277.36 124.816C277.596 124.943 277.794 125.126 277.937 125.348C278.08 125.57 278.162 125.824 278.176 126.085C278.19 126.347 278.136 126.607 278.018 126.843L274.641 133.599C274.511 133.86 274.308 134.079 274.056 134.233C273.803 134.387 273.512 134.468 273.214 134.468L273.214 134.468Z' fill='#DA867D')
          path(d='M16.6646 115.879C20.5948 119.984 20.7979 126.016 20.7979 126.016C20.7979 126.016 14.629 125.394 10.6988 121.29C6.76869 117.186 6.56557 111.153 6.56557 111.153C6.56557 111.153 12.7345 111.775 16.6646 115.879Z' fill='#06CE3E')
          path(d='M25.5285 134.468H10.017C9.71942 134.468 9.42777 134.386 9.17545 134.233C8.92313 134.079 8.72033 133.859 8.59026 133.599L5.21315 126.843C5.09522 126.607 5.04078 126.347 5.05495 126.085C5.06912 125.824 5.15144 125.57 5.29415 125.348C5.43686 125.126 5.63527 124.943 5.87071 124.816C6.10615 124.689 6.37087 124.623 6.63994 124.623H28.9059C29.175 124.623 29.4397 124.689 29.6751 124.816C29.9106 124.943 30.109 125.126 30.2517 125.348C30.3944 125.57 30.4767 125.824 30.4909 126.085C30.5051 126.347 30.4506 126.607 30.3327 126.843L26.9556 133.599C26.8255 133.86 26.6227 134.079 26.3704 134.233C26.1181 134.387 25.8264 134.468 25.5288 134.468L25.5285 134.468Z' fill='#DA867D')
          path(d='M180.79 23.3721L96.6976 42.2665C96.2846 42.3588 95.8509 42.2879 95.4916 42.0694C95.1323 41.8509 94.8767 41.5026 94.7808 41.1009L89.965 20.7997C89.8702 20.3978 89.943 19.9757 90.1676 19.626C90.3921 19.2763 90.75 19.0275 91.1627 18.9343L175.255 0.0398669C175.668 -0.0524163 176.102 0.0184805 176.461 0.237003C176.82 0.455526 177.076 0.80383 177.172 1.20552L181.987 21.5067C182.082 21.9086 182.009 22.3307 181.785 22.6804C181.56 23.0301 181.202 23.2789 180.79 23.3721Z' fill='white')
          path(d='M180.79 23.3721L96.6976 42.2665C96.2846 42.3588 95.8509 42.2879 95.4916 42.0694C95.1323 41.8509 94.8767 41.5026 94.7808 41.1009L89.965 20.7997C89.8702 20.3978 89.943 19.9757 90.1676 19.626C90.3921 19.2763 90.75 19.0275 91.1627 18.9343L175.255 0.0398669C175.668 -0.0524163 176.102 0.0184805 176.461 0.237003C176.82 0.455526 177.076 0.80383 177.172 1.20552L181.987 21.5067C182.082 21.9086 182.009 22.3307 181.785 22.6804C181.56 23.0301 181.202 23.2789 180.79 23.3721ZM91.3066 19.5406C91.0589 19.5966 90.8441 19.7458 90.7094 19.9557C90.5746 20.1655 90.5309 20.4188 90.5879 20.66L95.4037 40.9612C95.4611 41.2023 95.6145 41.4114 95.8301 41.5425C96.0458 41.6736 96.3061 41.7161 96.5539 41.6607L180.646 22.7663C180.894 22.7104 181.109 22.5611 181.243 22.3513C181.378 22.1414 181.422 21.8881 181.365 21.6469L176.549 1.34544C176.491 1.10435 176.338 0.895289 176.122 0.764145C175.907 0.633001 175.646 0.590496 175.399 0.64596L91.3066 19.5406Z' fill='#E6E6E6')
          path(d='M120.486 19.4779C120.347 19.5088 120.215 19.566 120.099 19.6464C119.983 19.7267 119.884 19.8285 119.809 19.946C119.733 20.0635 119.682 20.1943 119.658 20.3311C119.634 20.4679 119.638 20.6079 119.67 20.7431C119.702 20.8783 119.761 21.006 119.843 21.1191C119.926 21.2322 120.03 21.3283 120.151 21.402C120.272 21.4757 120.406 21.5255 120.547 21.5486C120.687 21.5717 120.831 21.5676 120.97 21.5366L120.974 21.5357L170.815 10.3371C171.095 10.2737 171.338 10.1048 171.49 9.86741C171.642 9.63003 171.691 9.34358 171.627 9.07096C171.562 8.79835 171.389 8.56186 171.145 8.41341C170.901 8.26496 170.607 8.21669 170.327 8.2792L120.486 19.4779Z' fill='#E6E6E6')
          path(d='M121.95 25.6517C121.811 25.6827 121.68 25.7399 121.564 25.8203C121.448 25.9006 121.349 26.0024 121.273 26.1199C121.197 26.2374 121.146 26.3682 121.122 26.505C121.099 26.6418 121.103 26.7817 121.135 26.9169C121.166 27.0522 121.225 27.1799 121.308 27.293C121.39 27.406 121.495 27.5022 121.616 27.5759C121.737 27.6495 121.871 27.6994 122.012 27.7224C122.152 27.7455 122.296 27.7415 122.435 27.7105L122.439 27.7096L143.885 22.8908C144.166 22.8282 144.409 22.6598 144.562 22.4226C144.715 22.1853 144.765 21.8987 144.7 21.6258C144.636 21.3528 144.463 21.1159 144.219 20.9671C143.976 20.8182 143.681 20.7697 143.401 20.8321L143.397 20.8329L121.95 25.6517Z' fill='#E6E6E6')
          path(d='M106.86 33.1613C110.456 33.1613 113.371 30.3246 113.371 26.8253C113.371 23.326 110.456 20.4893 106.86 20.4893C103.265 20.4893 100.35 23.326 100.35 26.8253C100.35 30.3246 103.265 33.1613 106.86 33.1613Z' fill='#00B0FF')
          path(d='M106.677 30.4804C106.464 30.5286 106.241 30.5081 106.041 30.4219L106.028 30.4165L103.409 29.2592C103.287 29.2055 103.177 29.1291 103.086 29.0342C102.995 28.9393 102.924 28.8278 102.877 28.7062C102.83 28.5845 102.808 28.455 102.812 28.3252C102.817 28.1953 102.848 28.0675 102.903 27.9492C102.958 27.8309 103.037 27.7244 103.135 27.6357C103.232 27.5471 103.347 27.478 103.472 27.4325C103.597 27.3869 103.73 27.3659 103.864 27.3704C103.997 27.375 104.128 27.4051 104.25 27.4591L105.947 28.2112L108.329 23.1187C108.44 22.8803 108.644 22.6948 108.896 22.6029C109.148 22.511 109.428 22.5204 109.673 22.6288L109.658 22.6621L109.674 22.6287C109.918 22.7375 110.109 22.9363 110.203 23.1817C110.297 23.427 110.288 23.6987 110.177 23.9372L107.376 29.9278C107.311 30.0658 107.214 30.1874 107.093 30.2831C106.972 30.3789 106.83 30.4462 106.678 30.48L106.677 30.4804Z' fill='white')
          g(clip-path='url(#clip1_78_32)')
            path(d='M163.523 110.748H116.527C116.235 110.748 115.956 110.635 115.75 110.435C115.544 110.235 115.428 109.963 115.428 109.68V78.4853C115.428 78.2021 115.544 77.9306 115.75 77.7304C115.956 77.5301 116.235 77.4174 116.527 77.4171H163.523C163.814 77.4174 164.094 77.5301 164.3 77.7304C164.506 77.9306 164.621 78.2021 164.622 78.4853V109.68C164.621 109.963 164.506 110.235 164.3 110.435C164.094 110.635 163.814 110.748 163.523 110.748Z' fill='white')
            path(d='M163.523 110.748H116.527C116.235 110.748 115.956 110.635 115.75 110.435C115.544 110.235 115.428 109.963 115.428 109.68V78.4853C115.428 78.2021 115.544 77.9306 115.75 77.7304C115.956 77.5301 116.235 77.4174 116.527 77.4171H163.523C163.814 77.4174 164.094 77.5301 164.3 77.7304C164.506 77.9306 164.621 78.2021 164.622 78.4853V109.68C164.621 109.963 164.506 110.235 164.3 110.435C164.094 110.635 163.814 110.748 163.523 110.748ZM116.527 77.6545C116.3 77.6547 116.083 77.7424 115.922 77.8981C115.762 78.0539 115.672 78.2651 115.672 78.4853V109.68C115.672 109.9 115.762 110.112 115.922 110.267C116.083 110.423 116.3 110.511 116.527 110.511H163.523C163.749 110.511 163.967 110.423 164.127 110.267C164.287 110.112 164.377 109.9 164.378 109.68V78.4853C164.377 78.2651 164.287 78.0539 164.127 77.8981C163.967 77.7424 163.749 77.6547 163.523 77.6545H116.527Z' fill='#3F3D56')
            path(d='M145.465 110.561H134.585V93.0513C134.585 92.6361 134.755 92.2379 135.057 91.9443C135.359 91.6506 135.769 91.4855 136.196 91.485H143.854C144.281 91.4855 144.69 91.6506 144.992 91.9443C145.294 92.2379 145.464 92.6361 145.465 93.0513V110.561Z' fill='#E6E6E6')
            path(d='M160.96 70.7677H154.746V60.6736C154.747 60.3904 154.863 60.1189 155.069 59.9186C155.275 59.7184 155.554 59.6057 155.845 59.6054H159.861C160.152 59.6057 160.432 59.7184 160.638 59.9186C160.844 60.1189 160.959 60.3904 160.96 60.6736V70.7677Z' fill='white')
            path(d='M160.96 70.7677H154.746V60.6736C154.747 60.3904 154.863 60.1189 155.069 59.9186C155.275 59.7184 155.554 59.6057 155.845 59.6054H159.861C160.152 59.6057 160.432 59.7184 160.638 59.9186C160.844 60.1189 160.959 60.3904 160.96 60.6736V70.7677ZM154.99 70.5303H160.716V60.6736C160.715 60.4534 160.625 60.2422 160.465 60.0864C160.305 59.9307 160.088 59.843 159.861 59.8428H155.845C155.619 59.843 155.401 59.9307 155.241 60.0864C155.081 60.2422 154.991 60.4534 154.99 60.6736V70.5303Z' fill='#3F3D56')
            path(d='M125.928 75.0182C132.536 75.0182 137.893 69.8109 137.893 63.3874C137.893 56.9639 132.536 51.7566 125.928 51.7566C119.32 51.7566 113.963 56.9639 113.963 63.3874C113.963 69.8109 119.32 75.0182 125.928 75.0182Z' fill='#F2F2F2')
            path(d='M158.039 57.8358C156.962 57.8029 156.002 56.8476 155.995 55.7996C155.987 54.7516 156.932 53.783 158.009 53.7352C160.407 53.6285 162.371 51.127 161.843 48.8505C161.315 46.5741 158.438 45.1329 156.224 46.0364C154.527 46.7294 152.811 44.5457 153.241 42.8052C153.672 41.0648 155.3 39.896 156.807 38.8668C158.313 37.8376 159.925 36.6293 160.289 34.8745C160.652 33.1197 158.791 31.0176 157.15 31.8311' fill='#E6E6E6')
            path(d='M129.989 96.5711H120.798C120.432 96.5707 120.08 96.4289 119.821 96.1769C119.562 95.925 119.416 95.5833 119.416 95.2269V87.8616C119.416 87.5053 119.562 87.1636 119.821 86.9116C120.08 86.6596 120.432 86.5179 120.798 86.5175H129.989C130.356 86.5179 130.707 86.6597 130.966 86.9116C131.226 87.1636 131.371 87.5053 131.372 87.8616V95.2269C131.371 95.5833 131.226 95.9249 130.966 96.1769C130.707 96.4289 130.356 96.5707 129.989 96.5711Z' fill='#E6E6E6')
            path(d='M159.464 96.5711H150.273C149.906 96.5707 149.555 96.4289 149.296 96.1769C149.037 95.925 148.891 95.5833 148.89 95.2269V87.8616C148.891 87.5053 149.037 87.1636 149.296 86.9116C149.555 86.6596 149.906 86.5179 150.273 86.5175H159.464C159.83 86.5179 160.182 86.6596 160.441 86.9116C160.7 87.1636 160.846 87.5053 160.846 87.8616V95.2269C160.846 95.5833 160.7 95.925 160.441 96.1769C160.182 96.4289 159.83 96.5707 159.464 96.5711Z' fill='#E6E6E6')
            path(d='M111.919 78.0587V73.2592C111.919 72.8905 112.019 72.5283 112.209 72.2094C112.4 71.8905 112.673 71.6262 113.003 71.4433L140.436 56.2016C140.777 56.0124 141.164 55.9173 141.556 55.9266C141.948 55.9358 142.33 56.0491 142.661 56.2541L167.136 71.4289C167.441 71.6179 167.692 71.8785 167.866 72.1867C168.039 72.4949 168.131 72.8408 168.131 73.1923V78.0587C168.131 78.6134 167.904 79.1454 167.5 79.5377C167.097 79.9299 166.55 80.1503 165.979 80.1503H114.07C113.5 80.1503 112.953 79.9299 112.549 79.5377C112.146 79.1454 111.919 78.6134 111.919 78.0587Z' fill='#339DCB')
            path(opacity='0.2' d='M165.979 78.0134H114.07C113.5 78.0134 112.953 77.7931 112.549 77.4008C112.146 77.0086 111.919 76.4766 111.919 75.9219V77.8209C111.919 78.3757 112.146 78.9076 112.549 79.2999C112.953 79.6921 113.5 79.9125 114.07 79.9125H165.979C166.55 79.9125 167.097 79.6921 167.5 79.2999C167.904 78.9076 168.131 78.3757 168.131 77.8209V75.9219C168.131 76.4766 167.904 77.0086 167.5 77.4008C167.097 77.7931 166.55 78.0134 165.979 78.0134Z' fill='black')
            path(d='M170.194 94.4375C170.194 90.7569 173.263 82.0231 177.049 82.0231C180.836 82.0231 183.905 90.7569 183.905 94.4375C183.905 96.205 183.183 97.9001 181.897 99.1498C180.611 100.4 178.868 101.102 177.049 101.102C175.231 101.102 173.487 100.4 172.202 99.1498C170.916 97.9001 170.194 96.205 170.194 94.4375Z' fill='#F2F2F2')
            path(d='M177.049 110.607C177.017 110.607 176.986 110.594 176.963 110.572C176.94 110.55 176.927 110.52 176.927 110.488V86.5585C176.927 86.527 176.94 86.4968 176.963 86.4746C176.986 86.4523 177.017 86.4398 177.049 86.4398C177.082 86.4398 177.113 86.4523 177.136 86.4746C177.159 86.4968 177.171 86.527 177.171 86.5585V110.488C177.171 110.52 177.159 110.55 177.136 110.572C177.113 110.594 177.082 110.607 177.049 110.607Z' fill='#3F3D56')
            path(d='M177.049 97.1702C177.025 97.1702 177.002 97.1634 176.982 97.1506C176.962 97.1378 176.946 97.1196 176.937 97.0982C176.928 97.0769 176.925 97.0533 176.929 97.0305C176.933 97.0076 176.944 96.9864 176.961 96.9696L180.446 93.4146C180.457 93.4033 180.47 93.3943 180.485 93.388C180.5 93.3817 180.515 93.3782 180.531 93.3778C180.547 93.3775 180.563 93.3802 180.578 93.3858C180.593 93.3914 180.607 93.3998 180.619 93.4106C180.63 93.4213 180.64 93.4342 180.646 93.4485C180.653 93.4627 180.656 93.4781 180.656 93.4937C180.657 93.5092 180.654 93.5247 180.648 93.5393C180.643 93.5538 180.634 93.5671 180.623 93.5784L177.138 97.1334C177.126 97.1451 177.113 97.1543 177.097 97.1607C177.082 97.167 177.066 97.1702 177.049 97.1702Z' fill='#3F3D56')
            path(d='M177.049 91.1765C177.019 91.1766 176.989 91.1655 176.967 91.1454L173.955 88.4687C173.943 88.4582 173.934 88.4455 173.927 88.4314C173.92 88.4172 173.916 88.4019 173.915 88.3863C173.915 88.3707 173.917 88.3552 173.922 88.3405C173.928 88.3258 173.936 88.3123 173.947 88.3008C173.958 88.2893 173.971 88.2799 173.986 88.2733C174 88.2667 174.016 88.263 174.032 88.2623C174.048 88.2616 174.064 88.2641 174.079 88.2694C174.094 88.2748 174.108 88.283 174.12 88.2935L177.132 90.9702C177.15 90.9864 177.163 91.0075 177.168 91.0308C177.174 91.0541 177.172 91.0785 177.163 91.1008C177.154 91.1231 177.139 91.1423 177.118 91.1558C177.098 91.1693 177.074 91.1765 177.049 91.1765Z' fill='#3F3D56')
            path(d='M86.5143 87.1145C86.5143 81.7002 91.0295 68.8524 96.5993 68.8524C102.169 68.8524 106.684 81.7002 106.684 87.1145C106.684 89.7145 105.622 92.208 103.731 94.0465C101.839 95.885 99.2741 96.9179 96.5993 96.9179C93.9246 96.9179 91.3594 95.885 89.4681 94.0465C87.5768 92.208 86.5143 89.7145 86.5143 87.1145Z' fill='#339DCB')
            path(d='M96.5993 110.844C96.567 110.844 96.5359 110.832 96.513 110.809C96.4901 110.787 96.4772 110.757 96.4772 110.725V75.524C96.4772 75.4925 96.4901 75.4624 96.513 75.4401C96.5359 75.4178 96.567 75.4053 96.5993 75.4053C96.6317 75.4053 96.6628 75.4178 96.6857 75.4401C96.7086 75.4624 96.7214 75.4925 96.7214 75.524V110.725C96.7214 110.757 96.7086 110.787 96.6857 110.809C96.6628 110.832 96.6317 110.844 96.5993 110.844Z' fill='#3F3D56')
            path(d='M96.5993 91.0784C96.5754 91.0784 96.552 91.0716 96.5321 91.0588C96.5121 91.046 96.4965 91.0278 96.4871 91.0064C96.4777 90.9851 96.4749 90.9615 96.4792 90.9387C96.4834 90.9158 96.4945 90.8946 96.5109 90.8778L101.638 85.6483C101.66 85.6255 101.691 85.6122 101.723 85.6115C101.755 85.6107 101.787 85.6225 101.81 85.6442C101.834 85.6659 101.847 85.6958 101.848 85.7273C101.849 85.7588 101.837 85.7893 101.814 85.812L96.6877 91.0416C96.6763 91.0533 96.6626 91.0625 96.6474 91.0688C96.6322 91.0752 96.6159 91.0784 96.5993 91.0784Z' fill='#3F3D56')
            path(d='M96.5993 82.2615C96.5688 82.2615 96.5394 82.2504 96.5169 82.2304L92.0865 78.2928C92.0626 78.2715 92.0483 78.2419 92.0469 78.2105C92.0454 78.179 92.0569 78.1483 92.0787 78.1251C92.1006 78.1019 92.1311 78.088 92.1634 78.0866C92.1958 78.0852 92.2274 78.0963 92.2513 78.1176L96.6817 82.0552C96.6999 82.0714 96.7126 82.0925 96.7182 82.1158C96.7238 82.1391 96.7221 82.1635 96.7131 82.1858C96.7042 82.2081 96.6886 82.2272 96.6683 82.2408C96.648 82.2543 96.6239 82.2615 96.5993 82.2615Z' fill='#3F3D56')
            path(d='M172.26 110.595C172.272 110.604 172.284 110.612 172.296 110.62H182.224C182.418 109.854 182.487 109.087 182.196 108.421C181.782 107.472 180.557 106.879 179.583 107.287C179.352 107.386 179.151 107.541 178.999 107.736C178.618 107.074 177.935 106.574 177.147 106.575C176.159 106.576 175.338 107.361 175.07 108.267C174.639 107.559 173.787 107.065 172.954 107.277C171.56 107.633 171.12 109.739 172.26 110.595Z' fill='#E6E6E6')
            path(d='M86.9676 110.807C86.9909 110.824 87.0155 110.84 87.0391 110.857H107.081C107.474 109.311 107.613 107.762 107.026 106.418C106.19 104.502 103.717 103.306 101.75 104.128C101.284 104.329 100.878 104.641 100.571 105.036C99.8023 103.698 98.4238 102.69 96.8326 102.691C94.8391 102.693 93.1816 104.277 92.6406 106.108C91.7697 104.679 90.0492 103.68 88.3675 104.11C85.555 104.828 84.6666 109.078 86.9676 110.807Z' fill='#E6E6E6')
            path(d='M187.607 110.507L83.8246 110.703L83.825 110.94L187.607 110.744L187.607 110.507Z' fill='#3F3D56')
            path(d='M118.845 105.681C118.87 105.587 118.873 105.489 118.855 105.394C118.837 105.299 118.797 105.209 118.739 105.13C118.681 105.051 118.606 104.986 118.519 104.939C118.432 104.891 118.335 104.863 118.236 104.856L114.358 100.143L113.399 101.012L117.495 105.514C117.494 105.677 117.554 105.835 117.664 105.958C117.775 106.081 117.927 106.16 118.094 106.18C118.26 106.201 118.429 106.162 118.567 106.069C118.706 105.977 118.805 105.839 118.845 105.681Z' fill='#FFB8B8')
            path(d='M115.102 100.892L113.877 101.804C113.842 101.83 113.802 101.848 113.759 101.858C113.716 101.867 113.672 101.868 113.629 101.859C113.586 101.85 113.545 101.832 113.51 101.807C113.474 101.782 113.445 101.749 113.424 101.712L112.677 100.404C112.542 100.23 112.483 100.011 112.513 99.7942C112.544 99.5778 112.661 99.382 112.84 99.2497C113.019 99.1175 113.244 99.0595 113.467 99.0885C113.69 99.1175 113.891 99.2312 114.028 99.4046L115.129 100.442C115.161 100.472 115.185 100.508 115.201 100.548C115.217 100.588 115.224 100.63 115.221 100.673C115.219 100.716 115.207 100.757 115.186 100.795C115.166 100.833 115.137 100.866 115.102 100.892Z' fill='#3F3D56')
            path(d='M113.044 98.0467C113.905 98.0467 114.602 97.3685 114.602 96.5319C114.602 95.6953 113.905 95.0171 113.044 95.0171C112.184 95.0171 111.486 95.6953 111.486 96.5319C111.486 97.3685 112.184 98.0467 113.044 98.0467Z' fill='#FFB8B8')
            path(d='M116.371 116.181H117.148L117.074 114.766H115.926L116.371 116.181Z' fill='#FFB8B8')
            path(d='M116.172 115.934L117.704 115.934C117.832 115.934 117.959 115.959 118.078 116.006C118.196 116.054 118.304 116.124 118.394 116.212C118.485 116.3 118.557 116.405 118.606 116.52C118.655 116.635 118.68 116.758 118.68 116.883V116.914L116.172 116.914L116.172 115.934Z' fill='#2F2E41')
            path(d='M108.077 115.11L108.739 115.508L109.441 114.266L108.64 113.779L108.077 115.11Z' fill='#FFB8B8')
            path(d='M108.042 114.799L109.345 115.582C109.454 115.647 109.549 115.733 109.624 115.834C109.699 115.935 109.753 116.049 109.782 116.171C109.812 116.292 109.816 116.418 109.796 116.541C109.775 116.664 109.73 116.782 109.663 116.888L109.646 116.914L107.512 115.633L108.042 114.799Z' fill='#2F2E41')
            path(d='M116.314 115.766C116.257 115.766 116.2 115.749 116.152 115.717C116.105 115.685 116.068 115.64 116.048 115.587L113.234 109.048C113.228 109.032 113.218 109.018 113.204 109.007C113.19 108.997 113.174 108.99 113.157 108.988C113.139 108.986 113.122 108.989 113.106 108.996C113.09 109.003 113.076 109.014 113.066 109.028L109.201 114.947C109.163 115.002 109.106 115.042 109.04 115.06C108.975 115.078 108.905 115.072 108.843 115.044L108.314 114.804C108.246 114.773 108.194 114.717 108.168 114.649C108.142 114.581 108.144 114.505 108.174 114.439L111.341 107.577C111.272 107.413 110.598 105.734 111.634 104.905L111.641 104.9L114.451 103.682L114.522 105.777L117.323 115.224C117.333 115.259 117.337 115.297 117.332 115.333C117.328 115.37 117.316 115.406 117.297 115.438C117.278 115.47 117.253 115.498 117.223 115.521C117.192 115.543 117.158 115.56 117.121 115.569L116.388 115.757C116.364 115.763 116.339 115.766 116.314 115.766Z' fill='#2F2E41')
            path(d='M114.494 100.617C114.387 100.199 114.235 99.7787 114.032 99.5844C113.957 99.5136 113.887 99.4384 113.821 99.3593C113.685 99.1919 113.513 99.0549 113.317 98.9575C113.389 98.9188 113.431 98.8725 113.431 98.8228C113.431 98.6866 113.118 98.5761 112.733 98.5761C112.347 98.5761 112.035 98.6866 112.035 98.8228C112.036 98.8386 112.04 98.8541 112.047 98.8684C112.054 98.8826 112.064 98.8954 112.076 98.9059C111.825 99.0057 111.606 99.1706 111.444 99.3828C111.282 99.5951 111.183 99.8464 111.158 100.11C111.068 101.048 111.042 102.247 111.357 103.006C111.622 103.634 111.644 104.333 111.417 104.975C111.401 105.02 111.4 105.068 111.411 105.113C111.423 105.159 111.448 105.2 111.484 105.233C111.519 105.265 111.563 105.287 111.611 105.295C111.658 105.304 111.707 105.299 111.752 105.281L114.541 104.189C114.588 104.171 114.628 104.139 114.656 104.098C114.684 104.058 114.7 104.009 114.7 103.96V102.301C114.702 101.734 114.633 101.168 114.494 100.617Z' fill='#3F3D56')
            path(d='M109.159 107.449C109.256 107.427 109.347 107.385 109.425 107.325C109.504 107.266 109.568 107.19 109.613 107.103C109.658 107.017 109.683 106.922 109.686 106.825C109.689 106.728 109.67 106.632 109.631 106.543L111.813 100.951L110.706 100.673L108.688 106.208C108.539 106.282 108.423 106.407 108.361 106.558C108.3 106.71 108.298 106.879 108.356 107.032C108.414 107.185 108.528 107.312 108.676 107.389C108.824 107.466 108.996 107.487 109.159 107.449Z' fill='#FFB8B8')
            path(d='M111.804 102.012L110.406 101.376C110.366 101.358 110.331 101.331 110.302 101.299C110.274 101.266 110.253 101.228 110.241 101.187C110.229 101.146 110.226 101.103 110.233 101.061C110.24 101.018 110.256 100.978 110.28 100.943L111.13 99.6954C111.227 99.4984 111.4 99.3466 111.611 99.2733C111.822 99.2 112.055 99.2111 112.258 99.3042C112.461 99.3973 112.618 99.5648 112.694 99.77C112.771 99.9753 112.76 100.202 112.665 100.399L112.226 101.828C112.213 101.869 112.192 101.907 112.163 101.939C112.134 101.971 112.098 101.996 112.058 102.014C112.018 102.031 111.975 102.04 111.931 102.04C111.887 102.039 111.843 102.03 111.804 102.012Z' fill='#3F3D56')
            path(d='M114.476 96.159C114.546 96.1671 114.617 96.1546 114.68 96.1231C114.795 96.05 114.784 95.8837 114.745 95.7557C114.648 95.4487 114.473 95.1703 114.236 94.9464C113.999 94.7224 113.708 94.56 113.39 94.4742C113.168 94.4169 112.887 94.4191 112.76 94.605C112.442 94.3985 112.057 94.3099 111.677 94.3553C111.296 94.4007 110.945 94.5771 110.687 94.8526C110.435 95.1402 110.267 95.4883 110.2 95.8606C110.067 96.4948 109.497 97.8029 109.813 98.3727C110.023 98.7518 110.991 98.4564 111.4 98.6215C111.604 98.7077 111.826 98.7437 112.048 98.7263C112.269 98.7089 112.483 98.6387 112.67 98.5219C112.853 98.3991 112.99 98.2225 113.062 98.018C113.134 97.8135 113.136 97.5919 113.068 97.3861C112.997 97.2348 112.914 97.0887 112.821 96.9488C112.728 96.8072 112.69 96.6378 112.714 96.4712C112.771 96.2179 114.001 96.1495 114.476 96.159Z' fill='#2F2E41')
        defs
          clippath#clip0_78_32
            rect(width='290.06' height='135' fill='white')
          clippath#clip1_78_32
            rect(width='103.783' height='85.2632' fill='white' transform='translate(83.8246 31.6508)')
  section.container.sale
    .last-rent-header
      - if (!sales || sales.length > 0)
        h3.rent-text جدیدترین آگهی ها برای خرید ملک:
    .row.row-cols-1.row-cols-sm-2.row-cols-md-3.row-cols-lg-4.g-4
      each sale in sales
       .col-6.col-sm-6.col-md-4.col-lg-3.mb-4
        .card.shadow.rounded.flex-fill
          img.card-img-top.img-fluid.last-imgs(src=`/img/sales/${sale.images[0]}` alt='...')
          .card-body
            .last-card
              .last-card-info
                p.size
                  svg.last-rent-svg(xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='1.5' stroke='currentColor')
                    path(stroke-linecap='round' stroke-linejoin='round' d='M9 6.75V15m6-6v8.25m.503 3.498l4.875-2.437c.381-.19.622-.58.622-1.006V4.82c0-.836-.88-1.38-1.628-1.006l-3.869 1.934c-.317.159-.69.159-1.006 0L9.503 3.252a1.125 1.125 0 00-1.006 0L3.622 5.689C3.24 5.88 3 6.27 3 6.695V19.18c0 .836.88 1.38 1.628 1.006l3.869-1.934c.317-.159.69-.159 1.006 0l4.994 2.497c.317.158.69.158 1.006 0z')
                  +buildingTypeText(sale.buildingType)
                p.rent-price
                  svg.last-rent-svg(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512')
                      rect(x='48' y='96' width='416' height='320' rx='56' ry='56' fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='32')
                      path(fill='none' stroke='currentColor' stroke-linejoin='round' stroke-width='60' d='M48 192h416M128 300h48v20h-48z')
                  - if (sale.price >= 1000)
                    | قیمت: #{(sale.price / 1000).toFixed(3).replace(/\.0+$/,'')} میلیارد
                  - else
                    | قیمت: #{sale.price} میلیون
              .last-card-info
                p.house-type 
                  svg.last-rent-svg(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512')
                    path(fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='32' d='M344 280l88-88M232 216l64 64M80 320l104-104')
                    circle(cx='456' cy='168' r='24' fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='32')
                    circle(cx='320' cy='304' r='24' fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='32')
                    circle(cx='208' cy='192' r='24' fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='32')
                    circle(cx='56' cy='344' r='24' fill='none' stroke='currentColor' stroke-linecap='round' stroke-linejoin='round' stroke-width='32')
                  span.house-type مساحت: #{sale.size}متر
            a.btn.mt-3.btn-lg.view-card-link(href=`/for_sale/${sale.id}`) جزئیات بیشتر
  script(src='/js/index.js')
  script(src='/js/homepageSearch.js')